h1 {
    margin: 20px auto;
}

#uploadForm {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#uploadForm input {
    width: auto;
}

#uploadForm button {
    align-self: flex-start;
    width: auto;
}

#uploadForm input:hover {
    cursor: pointer;
}

#uploadForm button:hover {
    background: blueviolet;
    cursor: pointer;
}

@media (max-width: 450px) {
    .options {
        flex-direction: column;
    }
}

